.draw-config-input {
  display: table;

  &>* {
    display: table-cell;

    &.n-mode-selector,
    &.expert-mode-selector,
    &.golden-ratio-selector {
      opacity: 0;
      transition: opacity 0.6s ease;
      vertical-align: middle;
      cursor: pointer;
      padding: 2px 4px;
      color: var(--actionColor);

      &:hover {
        color: var(--accentColor);
        hover();
      }
    }
  }

  &:hover {
    &>* {
      opacity: 1;
    }
  }
}