.advanced-color-picker {
  width: 180px;
  .saturation {
    height: 80px;
    position: relative;
  }
  .hue {
    height: 10px;
    position: relative;  
  }
  .alpha {
    background: white;
    height: 10px;
    position: relative;
  }
}