.color-input {

  .color-input-main {
    border: 1px solid var(--textColor);
    width: 120px;
    height: 120px;
    position: relative;
  }

  .carousel-selector {
    background: unquote('rgb(var(--backgroundColor), 0.3)');
  }

}