.color-input {

  .range-input {
    padding: 0;

    &>output {
      top: 3px;
    }

    color-input($color) {
      background-image: linear-gradient(to right, var(--borderColor) 0%, darken($color, 35) 100%);
    }

    .color-input-range-red {
      color-input(#ff0000);
    }

    .color-input-range-green {
      color-input(#00ff00);
    }

    .color-input-range-blue {
      color-input(#0000ff);
    }
  }
}