.extended-range-input {
  position: relative;

  .range-input {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;

    &>input {
      height: 4px;
      padding: 0;
      margin: 0;
    }
  }
}