.editor {
  overflow: auto;
  direction: rtl;
  .content-wrapper {
    direction: ltr;
  }
 
  &::-webkit-scrollbar {
      width: 6px;
  }

  &::-webkit-scrollbar-track {
      background: var(--backgroundColor);
      border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background: var(--textColor);
      border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: var(--accentColor);
  }

  .stage-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    &.edit-mode>* {
      color: var(--accentColor)!important;
    }
    &>* {
      flex: 1;
    }
    h1 {
      flex: 9999999;
      // letter-spacing: 14px;
      margin: 0;
      padding: 8px;
      align-self: flex-end;
    }
  }
  .stage {
    padding-bottom: 20px;
    margin-bottom: 30px;
    // border-bottom: 1px solid var(--accentColor);
  }
  .editor-item {
    display: flex;
    justify-content: space-between;
    align-content: left;
  }
}