.editor {
  overflow: auto;
  direction: rtl;

  .content-wrapper {
    direction: ltr;
  }

  .stage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;

    .name {
      color: var(--textColor);
      max-width: 120px;
    }

    .stage-header-title {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    &:hover>.controls {
      opacity: 1;
    }

    &>.controls {
      position: sticky;
      right: 0;
      display: flex;
      gap: 10px;
      flex-wrap: nowrap;
      opacity: 0;
      transition: opacity .8s;
    }

    &>button {
      padding: 8px;
      margin: 0;
    }
  }

  .stage {
    background-color: unquote('rgb(var(--backgroundColor))');
    transition: background-color .3s ease-in-out;
    &.dnd-over {
      background-color: unquote('rgb(var(--backgroundColorAlt))');
    }

    .stage-type-selector {
      grid-column: span 2;
    }

    .stage-content {
      width: 260px;
      padding-bottom: 40px;

      .stage-group {

        h2 {
          margin-top: 40px;
        }

        .stage-group-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0 20px;

          .editor-item:has(.input) {
            grid-column: span 2;
          }
        }
      }
    }
  }
}