.editor {
  .stage-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    &.edit-mode>* {
      color: var(--accentColor)!important;
    }
    &>* {
      flex: 1;
    }
    h1 {
      flex: 9999999;
      // letter-spacing: 14px;
      font-weight: 200;
      font-size: 16px;
      margin: 0;
      padding: 8px;
      align-self: flex-end;
    }
  }
  .stage {
    padding-bottom: 20px;
    margin-bottom: 30px;
    // border-bottom: 1px solid var(--accentColor);
  }
  .editor-item {
    display: flex;
    justify-content: space-between;
    align-content: left;
  }
}