.toolbar {
  
  margin-right: calc(10px + 100% - 100vw);

  &>* { float:right; clear:right; }

  .actions {
    display: table;

    &>* {
      display: table-cell;
      vertical-align: middle;
    }
  }
}