.golden-seeds-view {

  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0 0px 1fr;
  transition: grid-template-columns 0.5s ease-in-out;

  --sidebarWidth: 400px;

  .edit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  
  &.edit-mode {
    grid-template-columns: var(--sidebarWidth) 10px 1fr;

    &>.sidebar {
      clip-path: circle(80%);
    }

    &>.divider {
      &::after {
        height: 80%;
      }
    }
  }

  &>.sidebar {
    height: 100%;
    overflow-y: auto;
    clip-path: circle(0px at 24px 0px);
    transition: clip-path 0.5s ease-in-out;
    width: var(--sidebarWidth);
    box-sizing: border-box;
    padding-top: 64px;
  }

  &>.divider {
    position: relative;
    &::after {
      transition: height 0.5s ease-in-out;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 0%;
      transform: translate(-50%, -50%);
      background-color: var(--textColor);
    }
  }

  &>.main-content {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &>.preconfig-bar {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;

      .carousel-selector {
        padding: 5px;

        .animated-icon {
          height: 40px;
          width: 40px;
        }
      }

      .carousel-overview {
        height: 200px;
        opacity: 0;
        border-color: var(--textColor);
        border-style: solid;
        border-width: 1px 0;
        backdrop-filter: blur(3px);
        background: unquote('rgba(var(--backgroundColor), 0.3)');

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &>.themer {
    position: absolute;
    bottom: 0;
    right: 10px;

    h1 {
      text-align: right;
    }
  }
}