.golden-seeds-view {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &>.canvas {
    position: relative;
    transition: left 1.2s ease;
    transform: translate(-50%, 0);
    z-index: 0;
  }

  &>.sidebar {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    transition: all 0.5s ease-in-out;
    clip-path: circle(80%);
    backdrop-filter: blur(4px);

    &.hidden {
      clip-path: circle(20px at 35px 44px);
    }

    &>.actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      margin-bottom: 20px;
      column-gap: 5px;
    }

    &>.editor {
      margin-left: -10px;
      padding-left: 10px;
    }
  }

  &>.preconfig-bar {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    .carousel-selector {
      padding: 5px;

      .animated-icon {
        height: 40px;
        width: 40px;
      }
    }

    .carousel-overview {
      height: 200px;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  &>.themer {
    position: absolute;
    bottom: 0;
    right: 0;

    h1 {
      text-align: right;
    }
  }
}