.preconfig-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  user-select: none;

  &>.preconfig-prev,
  &>.preconfig-next {
    background: unquote('rgb(var(--backgroundColor))');
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .animated-icon {
      height: 30px;
      width: 30px;
    }
  }

  .preconfig-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: unquote('rgba(var(--backgroundColor), 0.2)');
    backdrop-filter: blur(4px);
    opacity: 0;
    height: 200px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }

    .wrapper {
      transform: translate(-50%, 0);

      .preconfig-item {
        position: absolute;
        backface-visibility: hidden;
        top: 50%;
        transition: all 0.3s cubic-bezier(0.75, 0, 0.75, 0);
        padding: 5px;
        text-align: center;
        white-space: nowrap;

        &>a {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        .preview {
          transition: width 0.3s cubic-bezier(0.75, 0, 0.75, 0);
          display: block;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      background: linear-gradient(to right, unquote('rgb(var(--backgroundColor))'), transparent);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      background: linear-gradient(to left, unquote('rgb(var(--backgroundColor))'), transparent);
      z-index: 2;
    }
  }
}