@import "../base.styl";

.direction-selector {
  text-align center;
  &:hover {
    .indicator {
      stroke: $color-accent;
    }
  }
  .indicator {
    stroke: $color-link;
    stroke-width: 2px;
    stroke-linecap: round;
  }
}