.config-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  user-select: none;

  &>.config-prev,
  &>.config-next {
    background: unquote('rgb(var(--backgroundColor))');

    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out all;

    .animated-icon {
      height: 40px;
      width: 40px;
    }
  }

  .config-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: unquote('rgba(var(--backgroundColor), 0.5)');
    backdrop-filter: blur(4px);
    height: 200px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    opacity: 0;
    cursor: grab;

    &.grabbing {
      background: unquote('rgba(var(--backgroundColor), 0.6)');
      cursor: grabbing !important;

      * {
        cursor: grabbing !important;
      }
    }

    &:hover {
      opacity: 1;
    }

    .config-item {
      position: absolute;
      backface-visibility: hidden;
      transition: all 0.3s cubic-bezier(0.75, 0, 0.75, 0);
      padding: 5px;
      text-align: center;
      white-space: nowrap;

      &>a {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
      }

      .preview {
        width: 100px;
        display: block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      background: linear-gradient(to right, unquote('rgb(var(--backgroundColor))'), transparent);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      background: linear-gradient(to left, unquote('rgb(var(--backgroundColor))'), transparent);
      z-index: 2;
    }
  }
}