$color-background = #000000;
$color-accent =     #decd87;
$color-text =       #808080;
$color-label =      #ffffff;

$color-border =     #ffffff;
$color-link =       #ffffff;
$color-error =      #f4511e;

hover() {
  text-shadow: 0 0 2px $color-accent;
}