@import "assets/font/simple-light/stylesheet.css";

body {
  font-family: simplesimple_light, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: unquote('rgb(var(--backgroundColor))');
  color: var(--textColor);
  transition: .4s ease-in-out all;
}

h1 {
  letter-spacing: 14px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
}

input[type="text"] {
  // font-family: simplesimple_light, sans-serif;
  font-size: 14px;
}

::selection {
  color: var(--actionColor);
  background-color: var(--accentColor);
}

script {
  display: none;
}

a,
button,
input[type="button"],
.action {
  background: none;
  border: none;
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-variant-alternates: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  text-rendering: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-indent: 0px;
  text-shadow: none;
  cursor: pointer;
  outline: inherit;
  color: var(--actionColor);
  text-decoration: none;
  transition: color .4s ease-in-out;

  &:hover {
    text-shadow: 0 0 2px var(--accentColor);
    color: var(--accentColor);
  }
}

.error {
  fill: var(--errorColor);
  color: var(--errorColor);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--textColor) unquote('rgb(var(--backgroundColor))');

  &::hover {
    scrollbar-color: var(--accentColor) unquote('rgb(var(--backgroundColor))');
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: unquote('rgb(var(--backgroundColor))');
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--textColor);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--accentColor);
}