@import "assets/font/simple-light/stylesheet.css";

body {
  font-family: simplesimple_light, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: var(--backgroundColor);
  color: var(--textColor);
  transition: .4s ease-in-out all;
}

h1 {
  letter-spacing: 14px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
}

input[type="text"] {
  // font-family: simplesimple_light, sans-serif;
  font-size: 14px;
}

::selection {
  color: var(--actionColor);
  background-color: var(--accentColor);
}

script {
  display: none;
}

a,
.action {
  color: var(--actionColor);
  text-decoration: none;
  cursor: pointer;
  transition: color .4s ease-in-out;

  &:hover {
    text-shadow: 0 0 2px var(--accentColor);
    color: var(--accentColor);
  }
}

.error {
  fill: var(--errorColor);
  color: var(--errorColor);
}
