body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: var(--backgroundColor);
  color: var(--textColor);
}

::selection {
  color: var(--actionColor);
  background-color: var(--accentColor);
}

script {
  display: none;
}

a,
.action {
  color: var(--actionColor);
  text-decoration: none;
  cursor: pointer;
  transition: color .4s ease-in-out;

  &:hover {
    text-shadow: 0 0 2px var(--accentColor);
    color: var(--accentColor);
  }
}

.error {
  fill: var(--errorColor);
  color: var(--errorColor);
}