:root {
  --accentColor: #decd87;
  --backgroundColor: 0, 0, 0;
  --actionColor: #fff;
  --textColor: #666;
  --borderColor: #222;
  --errorColor: #f4511e;

  &.light-theme {
    --backgroundColor: 255, 255, 255;
    --textColor: #222;
    --actionColor: #666;
    --borderColor: #aaa;
  }
}