:root {
  --accentColor: #decd87;
  --backgroundColor: 0, 0, 0;
  --backgroundColorAlt: 22, 22, 22;
  --actionColor: #fff;
  --textColor: #999;
  --textColorAlt: #444;
  --errorColor: #f4511e;

  &.light-theme {
    --backgroundColor: 255, 255, 255;
    --backgroundColorAlt: 240, 240, 240;
    --textColor: #222;
    --actionColor: #666;
    --textColorAlt: #aaa;
  }
}